@using MoxControl.Infrastructure.Extensions;
@using MoxControl.ViewModels.HomeViewModels;

@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        <!--begin::Order details page-->
        <div class="d-flex flex-column gap-7 gap-lg-10">
            <!--begin::Order summary-->
            <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
                <!--begin::Order details-->
                <div class="card card-flush py-4 flex-row-fluid">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Серверы</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                    <!--begin::Date-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Всего систем виртуализаций
                                            </div>
                                        </td>

                                        <td class="fw-bold text-end">@Model.ServersSummary.Total</td>
                                    </tr>
                                    <!--end::Date-->
                                    <!--begin::Payment method-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Всего серверов
                                            </div>
                                        </td>

                                        <td class="fw-bold text-end">
                                            @Model.ServersSummary.Used
                                        </td>
                                    </tr>
                                    <!--end::Payment method-->
                                    <!--begin::Date-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Самая популярная система
                                            </div>
                                        </td>

                                        <td class="fw-bold text-end">@Model.ServersSummary.MostPopular</td>
                                    </tr>
                                    <!--end::Date-->
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Card body-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <a asp-controller="Server" asp-action="Index" class="btn btn-primary">К списку серверов</a>
                    </div>
                </div>
                <!--end::Order details-->
                <!--begin::Customer details-->
                <div class="card card-flush py-4 flex-row-fluid">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Образы</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                    <!--begin::Customer name-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Всего образов
                                            </div>
                                        </td>

                                        <td class="fw-bold text-end">
                                            @Model.ImagesSummary.Total
                                        </td>
                                    </tr>
                                    <!--end::Customer name-->
                                    <!--begin::Customer email-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Используемые образы
                                            </div>
                                        </td>
                                        <td class="fw-bold text-end">
                                            @Model.ImagesSummary.Used
                                        </td>
                                    </tr>
                                    <!--end::Payment method-->
                                    <!--begin::Date-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Самый популярный
                                            </div>
                                        </td>

                                        <td class="fw-bold text-end">@Model.ImagesSummary.MostPopular</td>
                                    </tr>
                                    <!--end::Date-->
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Card body-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <a asp-controller="Image" asp-action="Index" class="btn btn-primary">К списку образов</a>
                    </div>
                </div>
                <!--end::Customer details-->
                <!--begin::Documents-->
                <div class="card card-flush py-4  flex-row-fluid">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Шаблоны</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                    <!--begin::Invoice-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Всего шаблонов
                                            </div>
                                        </td>
                                        <td class="fw-bold text-end">
                                            @Model.TemplatesSummary.Total
                                        </td>
                                    </tr>
                                    <!--end::Invoice-->
                                    <!--begin::Shipping-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Используемые шаблоны
                                            </div>
                                        </td>
                                        <td class="fw-bold text-end">@Model.TemplatesSummary.Used</td>
                                    </tr>
                                    <!--end::Shipping-->
                                    <!--begin::Rewards-->
                                    <tr>
                                        <td class="text-muted">
                                            <div class="d-flex align-items-center">
                                                Самый популярный
                                            </div>
                                        </td>
                                        <td class="fw-bold text-end">@Model.TemplatesSummary.Total</td>
                                    </tr>
                                    <!--end::Rewards-->
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Card body-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <a asp-controller="Template" asp-action="Index" class="btn btn-primary">К списку шаблонов</a>
                    </div>
                </div>
                <!--end::Documents-->
            </div>
            <!--end::Order summary-->
            <!--begin::Orders-->
            @foreach (var systemSummary in Model.SystemSummaries)
            {
                <div class="d-flex flex-column gap-7 gap-lg-10">
                    <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
                        <!--begin::Payment address-->
                        <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>@systemSummary.VirtualizationSystem.GetDisplayName()</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        Сервера работают: 1/@systemSummary.TotalServers<br>
                                        ВМ запущены: 1/@systemSummary.TotalMachines<br>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-column">
                                            <a asp-controller="Server" asp-action="Index" class="btn btn-primary mb-3">К списку серверов</a>
                                            <a asp-controller="Setting" asp-action="VirtualizationSystem" asp-route-virtualizationSystem="@systemSummary.VirtualizationSystem" class="btn btn-primary mb-3">К настройкам системы</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Payment address-->
                        <!--begin::Shipping address-->
                        <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>@systemSummary.VirtualizationSystem.GetDisplayName() - Статистика</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                        <!--begin::Table body-->
                                        <tbody class="fw-semibold text-gray-600">
                                            <!--begin::Invoice-->
                                            <tr>
                                                <td class="text-muted">
                                                    <div class="d-flex align-items-center">
                                                        Всего серверов
                                                    </div>
                                                </td>
                                                <td class="fw-bold text-end">
                                                    @systemSummary.TotalServers
                                                </td>
                                            </tr>
                                            <!--end::Invoice-->
                                            <!--begin::Shipping-->
                                            <tr>
                                                <td class="text-muted">
                                                    <div class="d-flex align-items-center">
                                                        Всего виртуальных машин
                                                    </div>
                                                </td>
                                                <td class="fw-bold text-end">
                                                    @systemSummary.TotalMachines
                                                </td>
                                            </tr>
                                            <!--end::Shipping-->
                                            <!--begin::Rewards-->
                                            <tr>
                                                <td class="text-muted">
                                                    <div class="d-flex align-items-center">
                                                        Последняя проверка серверов
                                                    </div>
                                                </td>
                                                <td class="fw-bold text-end">@(systemSummary.LastServersCheck.HasValue ? systemSummary.LastServersCheck.Value.ToString() : "")</td>
                                            </tr>
                                            <!--end::Rewards-->
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Shipping address-->
                    </div>
                </div>
            }
            <!--end::Orders-->
        </div>
        <!--end::Order details page-->
    </div>
</div>
