@using MoxControl.Connect.Models.Enums;
@using MoxControl.ViewModels.ServerViewModels;

@model ServerViewModel

<!--begin::Card body-->
<div class="card-body border-top p-9">
    <!--begin::Input group-->
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Адрес сервера</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                    <input type="text" asp-for="Host" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="адрес">
                    <span asp-validation-for="Host" class="text-danger"></span>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                    <input type="text" asp-for="Port" class="form-control form-control-lg form-control-solid" placeholder="порт">
                    <span asp-validation-for="Port" class="text-danger"></span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
        <!--begin::Label-->
        <label asp-for="Name" class="col-lg-4 col-form-label required fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input type="text" asp-for="Name" class="form-control form-control-lg form-control-solid" placeholder="название">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
        <!--begin::Label-->
        <label asp-for="Description" class="col-lg-4 col-form-label required fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input type="text" asp-for="Description" class="form-control form-control-lg form-control-solid" placeholder="описание">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
        <!--begin::Label-->
        <label asp-for="VirtualizationSystem" class="col-lg-4 col-form-label  fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
            <select asp-for="VirtualizationSystem" asp-items="@Html.GetEnumSelectList<VirtualizationSystem>()" class="form-control form-control-lg form-control-solid form-select"></select>
            <span asp-validation-for="VirtualizationSystem" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
        <!--begin::Label-->
        <label asp-for="AuthorizationType" class="col-lg-4 col-form-label  fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
            <select id="authorizationSelect" asp-for="AuthorizationType" class="form-control form-control-lg form-control-solid form-select">
                @foreach (var item in Html.GetEnumSelectList<AuthorizationType>())
                {
                    <option value="@item.Value" selected="@item.Selected" data-enumValue="@(((AuthorizationType)int.Parse(item.Value)).ToString())" >@item.Text</option>
                }
            </select>
            <span asp-validation-for="AuthorizationType" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6" id="serverRootUsername">
        <!--begin::Label-->
        <label asp-for="RootLogin" class="col-lg-4 col-form-label required fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input autocomplete="off" type="text" asp-for="RootLogin" class="form-control form-control-lg form-control-solid" placeholder="имя">
            <span asp-validation-for="RootLogin" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6" id="serverRootPassword">
        <!--begin::Label-->
        <label asp-for="RootPassword" class="col-lg-4 col-form-label required fw-semibold fs-6"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input autocomplete="off" type="password" asp-for="RootPassword" class="form-control form-control-lg form-control-solid" placeholder="пароль">
            <span asp-validation-for="RootPassword" class="text-danger"></span>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Input group-->
</div>
<!--end::Card body-->
<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="submit" class="btn btn-primary">Добавить</button>
</div>
<!--end::Actions-->
