@using MoxControl.Infrastructure.Extensions;
@using MoxControl.ViewModels.UserViewModels;
@using Sakura.AspNetCore;

@model IPagedList<UserViewModel>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <div class="card card-xxl-stretch mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Список пользователей</span>
                </h3>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_users">
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                        <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="User: activate to sort column ascending" style="width: 276.828px;">Пользователь</th>
                                        <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 162.062px;">Роль</th>
                                        <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Last login: activate to sort column ascending" style="width: 162.062px;">Last login</th>
                                        <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Joined Date: activate to sort column ascending" style="width: 213.375px;">Дата регистрации</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="text-gray-600 fw-semibold">
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <!--begin::User--->
                                            <td class="d-flex align-items-center">
                                                <!--begin:: Avatar -->
                                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                    <a href="/jet-html-pro/?page=apps/user-management/users/view">
                                                        <div class="symbol-label">
                                                            <img src="assets/media/avatars/blank.png" alt="Emma Smith" class="w-100">
                                                        </div>
                                                    </a>
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::User details-->
                                                <div class="d-flex flex-column">
                                                    <a href="/jet-html-pro/?page=apps/user-management/users/view" class="text-gray-800 text-hover-primary mb-1">@user.FirstName @user.LastName</a>
                                                </div>
                                                <!--begin::User details-->
                                            </td>
                                            <!--end::User--->
                                            <!--begin::Role--->
                                            <td>
                                                <div class="badge badge-light fw-bold">@user.Role</div>
                                            </td>
                                            <!--end::Role--->
                                            <!--begin::Last login--->
                                            <td data-order="2023-03-10T13:27:32+05:00">
                                                @user.LastLogin.ToMoscowTime().GetDateWithTime()
                                            </td>
                                            <!--end::Last login--->
                                            <!--begin::Joined-->
                                            <td data-order="2023-07-25T14:40:00+05:00">
                                                @user.CreatedAt.ToMoscowTime().GetDateWithTime()
                                            </td>
                                            <!--begin::Joined-->
                                        </tr>
                                    }
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                            </div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="kt_table_users_previous">
                                            <a href="#" aria-controls="kt_table_users" data-dt-idx="0" tabindex="0" class="page-link">
                                                <i class="previous">
                                                </i>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="kt_table_users" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="kt_table_users" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="kt_table_users" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="kt_table_users_next">
                                            <a href="#" aria-controls="kt_table_users" data-dt-idx="4" tabindex="0" class="page-link">
                                                <i class="next"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>