@using MoxControl.Infrastructure.Extensions;
@using MoxControl.Models.Entities.Notifications;
@using Sakura.AspNetCore;

@model IPagedList<GeneralNotification>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <div class="card mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Список общих уведомлений</span>
                </h3>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                @if (!Model.Any())
                {
                    <div class="card-px text-center py-5 my-5">
                        <h2 class="text-gray-400 fw-bold fs-3 fw-bold">Общие уведомления не найдены</h2>
                    </div>
                }
                else
                {
                    <div class="card-body py-4">
                        <!--begin::Table-->
                        <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fw-semibold text-gray-600 fs-6 gy-5" id="kt_table_customers_logs">
                                    <!--begin::Table body-->
                                    <tbody>
                                        @foreach (var notification in Model)
                                        {
                                            <!--begin::Table row-->
                                            <tr>
                                                <!--begin::Badge--->
                                                <td class="min-w-70px">
                                                    <div class="badge @notification.Type.GetGeneralNotificationColor()">@notification.Type.GetDisplayName()</div>
                                                </td>
                                                <!--end::Badge--->
                                                <!--begin::Status--->
                                                <td>
                                                    <a asp-controller="GeneralNotification" asp-action="Details" asp-route-id="@notification.Id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                        @notification.Title
                                                    </a>
                                                </td>
                                                <!--end::Status--->
                                                <!--begin::Timestamp--->
                                                <td class="pe-0 text-end min-w-200px">
                                                    @notification.CreatedAt.ToMoscowTime()
                                                </td>
                                                <!--end::Timestamp--->
                                            </tr>
                                            <!--end::Table row-->
                                        }
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            @if (Model.TotalPage > 1)
                            {
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                    </div>
                                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                        <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
                                            <ul class="pagination">
                                                @if (!Model.IsFirstPage)
                                                {
                                                    <li class="paginate_button page-item previous" id="kt_table_users_previous">
                                                        <a asp-controller="GeneralNotification" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" aria-controls="kt_table_users" data-dt-idx="0" tabindex="0" class="page-link">
                                                            <i class="previous">
                                                            </i>
                                                        </a>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <a asp-controller="GeneralNotification" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" aria-controls="kt_table_users" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex - 1)</a>
                                                    </li>
                                                }
                                                <li class="paginate_button page-item active">
                                                    <a asp-controller="GeneralNotification" asp-action="Index" asp-route-page="@(Model.PageIndex)" aria-controls="kt_table_users" data-dt-idx="2" tabindex="0" class="page-link">@Model.PageIndex</a>
                                                </li>
                                                @if (!Model.IsLastPage)
                                                {
                                                    <li class="paginate_button page-item ">
                                                        <a asp-controller="GeneralNotification" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" aria-controls="kt_table_users" data-dt-idx="3" tabindex="0" class="page-link">@(Model.PageIndex + 1)</a>
                                                    </li>
                                                    <li class="paginate_button page-item next" id="kt_table_users_next">
                                                        <a asp-controller="GeneralNotification" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" aria-controls="kt_table_users" data-dt-idx="4" tabindex="0" class="page-link">
                                                            <i class="next"></i>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!--end::Table-->
                    </div>
                    <!--end::Body-->
                }
            </div>
        </div>
    </div>
</div>